body {font-family: verdana;}
code {font-family:"Bitstream Vera Sans Mono","Monaco","Courier",monospace;}

textarea {width:800px; height:75px; border:1px solid #888888; padding:5px;}
input {border:1px solid #888888; padding:5px;}
label {font-weight:bold; margin-right:10px;}
.text_input {width:100%;}
img {border:none;}

#nav {margin-bottom:15px; position:absolute; top: 0pt; right: 0pt; margin-right:10px;}
#footer {font-size:0.7em; margin-top:20px;}

.client_logo {width:100px;height:100px;}